[Desktop Entry]
Name=Bluetooth
Comment=Bluetooth device manager
Exec=kitty --class Floating -e bluetui
Icon=bluetooth
Terminal=false
Type=Application
Categories=Settings;
